.dynamic-height {
    min-height: 100vh;
    min-height: 100dvh;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    touch-action: auto;
}

#root {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
}
